In [1]:
import pandas as pd
from pathlib import Path 

#create path for both CSV data sets
census_data_path = r"Resources\clean_census_data.csv"
cw_data_path = r"Resources\CWData.csv"

# Store the paths and command to read
census_data = pd.read_csv(census_data_path)
cw_data = pd.read_csv(cw_data_path)

In [2]:
cw_data.head()

   Fiscal Year     County     Region      Type of Allegation  Allegation Count
0         2022  Armstrong  1-Lubbock  Neglectful Supervision                11
1         2022  Armstrong  1-Lubbock          Physical Abuse                 5
2         2022  Armstrong  1-Lubbock            Sexual Abuse                 1
3         2022     Bailey  1-Lubbock         Emotional Abuse                 1
4         2022     Bailey  1-Lubbock  Neglectful Supervision                50

In [3]:
census_data.rename(columns=census_data.iloc[0], inplace = True)
census_data.head()

,County,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars),Household income in the past 12 months,Family income in the past 12 months,Nonfamily income in the past 12 months
0,County,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars),Household income in the past 12 months,Family income in the past 12 months,Nonfamily income in the past 12 months
1,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,8.4%,4.7%,"58,180","79,881",39.7%,(X),(X)
2,Bastrop,"37,278",6.3%,3.6%,6.1%,5.3%,12.6%,19.1%,11.8%,21.5%,8.9%,4.9%,"72,663","87,467",41.1%,(X),(X)
3,Bell,"143,361",6.7%,3.6%,6.9%,8.5%,14.1%,20.2%,13.7%,14.7%,5.5%,6.1%,"62,137","85,250",35.1%,(X),(X)
4,Bexar,"754,632",5.3%,4.4%,7.9%,8.0%,11.9%,18.6%,13.7%,14.9%,7.9%,7.4%,"65,854","89,010",33.2%,(X),(X)

In [4]:
census_data.drop(census_data.index[0], inplace=True)
census_data.head()

,County,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars),Household income in the past 12 months,Family income in the past 12 months,Nonfamily income in the past 12 months
1,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,8.4%,4.7%,"58,180","79,881",39.7%,(X),(X)
2,Bastrop,"37,278",6.3%,3.6%,6.1%,5.3%,12.6%,19.1%,11.8%,21.5%,8.9%,4.9%,"72,663","87,467",41.1%,(X),(X)
3,Bell,"143,361",6.7%,3.6%,6.9%,8.5%,14.1%,20.2%,13.7%,14.7%,5.5%,6.1%,"62,137","85,250",35.1%,(X),(X)
4,Bexar,"754,632",5.3%,4.4%,7.9%,8.0%,11.9%,18.6%,13.7%,14.9%,7.9%,7.4%,"65,854","89,010",33.2%,(X),(X)
5,Bowie,"35,469",8.7%,5.9%,10.3%,9.9%,15.3%,20.3%,9.3%,9.8%,4.6%,5.8%,"49,771","74,515",42.2%,(X),(X)

In [8]:
# Merge both data sets into one   
happy_childhood_data = pd.merge(census_data, cw_data, how="left", on=["County","County"])
happy_childhood_data

,County,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999",...,"$200,000 or more",Median income (dollars),Mean income (dollars),Household income in the past 12 months,Family income in the past 12 months,Nonfamily income in the past 12 months,Fiscal Year,Region,Type of Allegation,Allegation Count
0,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,...,4.7%,"58,180","79,881",39.7%,(X),(X),2022.0,5-Beaumont,Abandonment,3.0
1,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,...,4.7%,"58,180","79,881",39.7%,(X),(X),2022.0,5-Beaumont,Emotional Abuse,32.0
2,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,...,4.7%,"58,180","79,881",39.7%,(X),(X),2022.0,5-Beaumont,Medical Neglect,63.0
3,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,...,4.7%,"58,180","79,881",39.7%,(X),(X),2022.0,5-Beaumont,Neglectful Supervision,684.0
4,Angelina,"34,276",5.1%,3.9%,10.5%,9.5%,15.6%,18.0%,11.3%,12.9%,...,4.7%,"58,180","79,881",39.7%,(X),(X),2022.0,5-Beaumont,Physical Abuse,226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4434,Wise,"25,430",3.0%,2.4%,5.2%,7.3%,11.9%,15.0%,14.4%,19.6%,...,11.6%,"80,305","106,665",41.7%,(X),(X),2013.0,3-Arlington,Neglectful Supervision,409.0
4435,Wise,"25,430",3.0%,2.4%,5.2%,7.3%,11.9%,15.0%,14.4%,19.6%,...,11.6%,"80,305","106,665",41.7%,(X),(X),2013.0,3-Arlington,Physical Abuse,173.0
4436,Wise,"25,430",3.0%,2.4%,5.2%,7.3%,11.9%,15.0%,14.4%,19.6%,...,11.6%,"80,305","106,665",41.7%,(X),(X),2013.0,3-Arlington,Physical Neglect,93.0
4437,Wise,"25,430",3.0%,2.4%,5.2%,7.3%,11.9%,15.0%,14.4%,19.6%,...,11.6%,"80,305","106,665",41.7%,(X),(X),2013.0,3-Arlington,Refusal To Accept Parental Responsibility,4.0
4438,Wise,"25,430",3.0%,2.4%,5.2%,7.3%,11.9%,15.0%,14.4%,19.6%,...,11.6%,"80,305","106,665",41.7%,(X),(X),2013.0,3-Arlington,Sexual Abuse,135.0

In [15]:
happy_childhood_data = happy_childhood_data.dropna()

In [16]:
happy_childhood_data.count()

County                                        4435
Total                                         4435
    Less than $10,000                         4435
    $10,000 to $14,999                        4435
    $15,000 to $24,999                        4435
    $25,000 to $34,999                        4435
    $35,000 to $49,999                        4435
    $50,000 to $74,999                        4435
    $75,000 to $99,999                        4435
    $100,000 to $149,999                      4435
    $150,000 to $199,999                      4435
    $200,000 or more                          4435
Median income (dollars)                       4435
Mean income (dollars)                         4435
    Household income in the past 12 months    4435
    Family income in the past 12 months       4435
    Nonfamily income in the past 12 months    4435
Fiscal Year                                   4435
Region                                        4435
Type of Allegation                            4435
Allegation Count                              4435
dtype: int64